@import '_prepend';

#legalDiv{
  margin-top: 150px;
  text-align: center;

  h1{
    font-family: futuramedium;
    font-size: 40px;
    text-transform: uppercase;
  }
  h2{

  }

  padding-bottom: 100px;
}