/* line 33, ../sass/_prepend.scss */
.row {
  text-align: center;
  margin: 0 auto;
  width: 1080px;
}
@media only screen and (max-width: 1080px) {
  /* line 33, ../sass/_prepend.scss */
  .row {
    width: 768px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 33, ../sass/_prepend.scss */
  .row {
    width: 300px;
  }
}

/* line 3, ../sass/about.scss */
#aboutCont {
  height: 600px;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: 100% auto;
  background-image: url(../images/bg05-1200.jpg);
  color: #000;
  padding-top: 15%;
}
@media (max-width: 1500px) {
  /* line 3, ../sass/about.scss */
  #aboutCont {
    background-size: 120% auto;
  }
}
@media (max-width: 1200px) {
  /* line 3, ../sass/about.scss */
  #aboutCont {
    background-image: url(../images/bg05-768.jpg);
    background-size: 100% auto;
  }
}
@media (max-width: 960px) {
  /* line 3, ../sass/about.scss */
  #aboutCont {
    background-size: 150% auto;
  }
}
@media only screen and (max-width: 480px) {
  /* line 3, ../sass/about.scss */
  #aboutCont {
    background-image: url(../images/bg05-400.jpg);
    padding-top: 80px;
    height: 450px;
  }
}
/* line 29, ../sass/about.scss */
#aboutCont h2 {
  font-family: futuramedium;
  font-size: 60px;
  color: #FFF;
}
@media only screen and (max-width: 1080px) {
  /* line 29, ../sass/about.scss */
  #aboutCont h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 29, ../sass/about.scss */
  #aboutCont h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 29, ../sass/about.scss */
  #aboutCont h2 {
    font-size: 45px;
  }
}
/* line 44, ../sass/about.scss */
#aboutCont h3 {
  color: #FFF;
  font-family: helvetica_cyplain;
  font-size: 30px;
}
@media only screen and (max-width: 1080px) {
  /* line 44, ../sass/about.scss */
  #aboutCont h3 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 44, ../sass/about.scss */
  #aboutCont h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 44, ../sass/about.scss */
  #aboutCont h3 {
    font-size: 20px;
  }
}

/* line 60, ../sass/about.scss */
#teamView {
  min-height: 600px;
  padding: 100px 0;
}
/* line 64, ../sass/about.scss */
#teamView ul {
  margin: 0;
  padding: 0;
}
/* line 68, ../sass/about.scss */
#teamView ul li {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding: 4% 3%;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  /* line 68, ../sass/about.scss */
  #teamView ul li {
    display: block;
    width: 100%;
  }
}
/* line 81, ../sass/about.scss */
#teamView ul li img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
/* line 87, ../sass/about.scss */
#teamView ul li h4 {
  font-family: futuramedium;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0 10px 0;
}
/* line 95, ../sass/about.scss */
#teamView ul li h5 {
  font-family: futuramedium;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 101, ../sass/about.scss */
#teamView ul li p {
  margin-top: 20px;
}
