/* line 33, ../sass/_prepend.scss */
.row {
  text-align: center;
  margin: 0 auto;
  width: 1080px;
}
@media only screen and (max-width: 1080px) {
  /* line 33, ../sass/_prepend.scss */
  .row {
    width: 768px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 33, ../sass/_prepend.scss */
  .row {
    width: 300px;
  }
}

/* line 45, ../sass/_prepend.scss */
.callback {
  display: none;
  min-height: 700px;
}

/* line 3, ../sass/contact.scss */
#contactCont {
  width: 100%;
  height: auto;
  padding-top: 100px;
}
/* line 10, ../sass/contact.scss */
#contactCont .row h1 {
  font-family: helveticathin;
  font-size: 55px;
  color: #242728;
  margin: 5px 0;
}
@media only screen and (max-width: 480px) {
  /* line 10, ../sass/contact.scss */
  #contactCont .row h1 {
    font-size: 32px;
  }
}
/* line 20, ../sass/contact.scss */
#contactCont .row h3 {
  font-size: 22px;
  color: #242728;
  margin: 5px 0;
}
@media only screen and (max-width: 480px) {
  /* line 20, ../sass/contact.scss */
  #contactCont .row h3 {
    font-size: 14px;
    margin: 15px 0;
  }
}
/* line 30, ../sass/contact.scss */
#contactCont .row .formContainer {
  margin: 50px 0;
  width: 100%;
}
/* line 34, ../sass/contact.scss */
#contactCont .row .formContainer .errors {
  color: #c44444;
  font-weight: bold;
  font-size: 14px;
  background: #eecccc;
  border: 1px solid #cf7272;
  display: none;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 20px;
}
/* line 45, ../sass/contact.scss */
#contactCont .row .formContainer .errors p {
  margin: 0;
}
/* line 54, ../sass/contact.scss */
#contactCont .row .formContainer .topContent ul li, #contactCont .row .formContainer .bodyCont ul li {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin: 0 auto;
  padding: 10px 20px;
  height: 70px;
}
@media only screen and (max-width: 480px) {
  /* line 54, ../sass/contact.scss */
  #contactCont .row .formContainer .topContent ul li, #contactCont .row .formContainer .bodyCont ul li {
    width: 100%;
  }
}
/* line 67, ../sass/contact.scss */
#contactCont .row .formContainer .topContent ul li input[type="text"], #contactCont .row .formContainer .bodyCont ul li input[type="text"] {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 73, ../sass/contact.scss */
#contactCont .row .formContainer .topContent ul li textarea, #contactCont .row .formContainer .bodyCont ul li textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}
/* line 79, ../sass/contact.scss */
#contactCont .row .formContainer .topContent ul li input[type="submit"], #contactCont .row .formContainer .bodyCont ul li input[type="submit"] {
  width: 100%;
  height: 100%;
  background: #df3018;
  border: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: futuramedium;
  font-size: 30px;
  color: #FFF;
  text-transform: uppercase;
}
/* line 90, ../sass/contact.scss */
#contactCont .row .formContainer .topContent ul li input[type="submit"]:hover, #contactCont .row .formContainer .bodyCont ul li input[type="submit"]:hover {
  background: #962313;
}
/* line 98, ../sass/contact.scss */
#contactCont .row .formContainer .topContent ul.botSubmit li, #contactCont .row .formContainer .bodyCont ul.botSubmit li {
  height: 140px;
}
/* line 105, ../sass/contact.scss */
#contactCont .info {
  height: auto;
  background: #494949;
  margin-top: 50px;
  padding: 50px 10px;
  color: #FFF;
  text-align: left;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 114, ../sass/contact.scss */
#contactCont .info h3 {
  font-family: futuramedium;
  font-size: 50px;
  color: #FFF;
  text-align: left;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1080px) {
  /* line 114, ../sass/contact.scss */
  #contactCont .info h3 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 114, ../sass/contact.scss */
  #contactCont .info h3 {
    font-size: 32px;
  }
}
/* line 129, ../sass/contact.scss */
#contactCont .info p {
  text-align: left;
  font-family: futuramedium;
  font-size: 30px;
}
@media only screen and (max-width: 1080px) {
  /* line 129, ../sass/contact.scss */
  #contactCont .info p {
    font-size: 26px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 129, ../sass/contact.scss */
  #contactCont .info p {
    font-size: 18px;
  }
}
/* line 141, ../sass/contact.scss */
#contactCont .info p a {
  color: #FFF;
}
/* line 147, ../sass/contact.scss */
#contactCont .info.active {
  background: #585858;
}
