/* line 33, ../sass/_prepend.scss */
.row {
  text-align: center;
  margin: 0 auto;
  width: 1080px;
}
@media only screen and (max-width: 1080px) {
  /* line 33, ../sass/_prepend.scss */
  .row {
    width: 768px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 33, ../sass/_prepend.scss */
  .row {
    width: 300px;
  }
}

@media only screen and (max-width: 480px) {
  /* line 3, ../sass/moving.scss */
  .jumpBox {
    top: 190px;
  }
}

/* line 9, ../sass/moving.scss */
#movingCon {
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 480px) {
  /* line 13, ../sass/moving.scss */
  #movingCon .block1 {
    height: 540px;
  }
}
/* line 17, ../sass/moving.scss */
#movingCon .block1 .textCont {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
/* line 21, ../sass/moving.scss */
#movingCon .block1 .textCont .text {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 1080px) {
  /* line 21, ../sass/moving.scss */
  #movingCon .block1 .textCont .text {
    width: 720px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 21, ../sass/moving.scss */
  #movingCon .block1 .textCont .text {
    width: 320px;
  }
}
/* line 32, ../sass/moving.scss */
#movingCon .block1 .textCont .text h2 {
  margin-top: 35px;
  font-family: futuramedium, arial;
  font-size: 55px;
}
@media only screen and (max-width: 1080px) {
  /* line 32, ../sass/moving.scss */
  #movingCon .block1 .textCont .text h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 32, ../sass/moving.scss */
  #movingCon .block1 .textCont .text h2 {
    font-size: 28px;
  }
}
/* line 43, ../sass/moving.scss */
#movingCon .block1 .textCont .text p {
  font-family: futuramedium, arial;
  font-size: 20px;
  margin: 5px 0;
}
@media only screen and (max-width: 1080px) {
  /* line 43, ../sass/moving.scss */
  #movingCon .block1 .textCont .text p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 43, ../sass/moving.scss */
  #movingCon .block1 .textCont .text p {
    font-size: 16px;
  }
}
/* line 58, ../sass/moving.scss */
#movingCon .block2, #movingCon .block4 {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  font-family: futuramedium;
  font-size: 30px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: 100% auto;
  display: block;
}
/* line 74, ../sass/moving.scss */
#movingCon .block2 .row, #movingCon .block4 .row {
  z-index: 1;
  width: 1080px;
  margin: 0 auto;
}
/* line 78, ../sass/moving.scss */
#movingCon .block2 .row p, #movingCon .block4 .row p {
  padding: 0 10px;
}
@media only screen and (max-width: 1080px) {
  /* line 74, ../sass/moving.scss */
  #movingCon .block2 .row, #movingCon .block4 .row {
    width: 720px;
    font-size: 28px;
  }
  /* line 85, ../sass/moving.scss */
  #movingCon .block2 .row .botText, #movingCon .block4 .row .botText {
    font-size: 28px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 74, ../sass/moving.scss */
  #movingCon .block2 .row, #movingCon .block4 .row {
    width: 320px;
    font-size: 18px;
  }
  /* line 92, ../sass/moving.scss */
  #movingCon .block2 .row .botText, #movingCon .block4 .row .botText {
    font-size: 22px;
    text-align: center;
  }
}
/* line 101, ../sass/moving.scss */
#movingCon .block2 {
  padding-top: 130px;
  background-image: url(../images/bg02-1000.jpg);
  z-index: -1;
}
@media only screen and (max-width: 480px) {
  /* line 103, ../sass/moving.scss */
  #movingCon .block2 .botText {
    font-size: 26px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 101, ../sass/moving.scss */
  #movingCon .block2 {
    height: 300px;
    padding-top: 80px;
  }
}
@media only screen and (max-width: 1080px) {
  /* line 101, ../sass/moving.scss */
  #movingCon .block2 {
    background-image: url(../images/bg02-768.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 480px) {
  /* line 101, ../sass/moving.scss */
  #movingCon .block2 {
    background-image: url(../images/bg02-400.jpg);
    background-size: cover;
  }
}
/* line 125, ../sass/moving.scss */
#movingCon .block2 p {
  text-align: center;
}
/* line 129, ../sass/moving.scss */
#movingCon .block2 .botText {
  text-align: right;
  font-size: 50px;
  margin-top: 75px;
}
@media only screen and (max-width: 480px) {
  /* line 129, ../sass/moving.scss */
  #movingCon .block2 .botText {
    margin-top: 10px;
  }
}
/* line 140, ../sass/moving.scss */
#movingCon .block4 {
  background-image: url(../images/bg03-1000.jpg);
  z-index: -1;
}
@media only screen and (max-width: 1080px) {
  /* line 140, ../sass/moving.scss */
  #movingCon .block4 {
    background-image: url(../images/bg03-768.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 480px) {
  /* line 140, ../sass/moving.scss */
  #movingCon .block4 {
    background-image: url(../images/bg03-400.jpg);
    background-size: cover;
  }
}
/* line 152, ../sass/moving.scss */
#movingCon .block4 p {
  text-align: left;
}
/* line 157, ../sass/moving.scss */
#movingCon .block4 .topText {
  font-size: 50px;
  margin-top: 75px;
}
@media only screen and (max-width: 1080px) {
  /* line 157, ../sass/moving.scss */
  #movingCon .block4 .topText {
    font-size: 40px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 157, ../sass/moving.scss */
  #movingCon .block4 .topText {
    font-size: 38px;
    text-align: center;
  }
}
/* line 171, ../sass/moving.scss */
#movingCon .block3 {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
@media only screen and (max-width: 1080px) {
  /* line 171, ../sass/moving.scss */
  #movingCon .block3 {
    height: 500px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 171, ../sass/moving.scss */
  #movingCon .block3 {
    height: 650px;
  }
  /* line 181, ../sass/moving.scss */
  #movingCon .block3 .phoneImg {
    position: relative;
    bottom: -580px;
  }
}
/* line 188, ../sass/moving.scss */
#movingCon .block3 .row {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  font-family: futuramedium, arial;
  font-size: 28px;
  color: #3c3c3c;
  padding-top: 40px;
}
@media only screen and (max-width: 1080px) {
  /* line 188, ../sass/moving.scss */
  #movingCon .block3 .row {
    width: 720px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 188, ../sass/moving.scss */
  #movingCon .block3 .row {
    width: 320px;
  }
}
/* line 203, ../sass/moving.scss */
#movingCon .block3 .row h3 {
  font-size: 50px;
  margin: 25px 0 45px 0;
}
@media only screen and (max-width: 1080px) {
  /* line 203, ../sass/moving.scss */
  #movingCon .block3 .row h3 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 203, ../sass/moving.scss */
  #movingCon .block3 .row h3 {
    font-size: 35px;
  }
}
/* line 214, ../sass/moving.scss */
#movingCon .block3 .row p {
  text-align: left;
  margin: 20px 0;
  padding-left: 6%;
}
@media only screen and (max-width: 1080px) {
  /* line 214, ../sass/moving.scss */
  #movingCon .block3 .row p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 214, ../sass/moving.scss */
  #movingCon .block3 .row p {
    font-size: 16px;
    padding-left: 0px;
    text-align: center;
  }
}
/* line 229, ../sass/moving.scss */
#movingCon .block3 .row .appPopMob {
  text-align: center;
}
@media only screen and (max-width: 480px) {
  /* line 232, ../sass/moving.scss */
  #movingCon .block3 .row .appPopMob img {
    width: 70%;
    height: auto;
  }
}
/* line 239, ../sass/moving.scss */
#movingCon .block3 .row .appPop {
  float: left;
  width: 37.5%;
  position: relative;
}
@media only screen and (max-width: 480px) {
  /* line 239, ../sass/moving.scss */
  #movingCon .block3 .row .appPop {
    clear: both;
    width: 100%;
    text-align: center;
  }
}
/* line 249, ../sass/moving.scss */
#movingCon .block3 .row .appPop img {
  position: relative;
  bottom: -530px;
}
@media only screen and (max-width: 1080px) {
  /* line 249, ../sass/moving.scss */
  #movingCon .block3 .row .appPop img {
    width: 80%;
  }
}
/* line 258, ../sass/moving.scss */
#movingCon .block3 .row .desc {
  float: left;
  width: 62.5%;
}
@media only screen and (max-width: 480px) {
  /* line 258, ../sass/moving.scss */
  #movingCon .block3 .row .desc {
    clear: both;
    width: 100%;
    text-align: center;
  }
}
/* line 272, ../sass/moving.scss */
#movingCon .block5 .row {
  width: 1080px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
@media only screen and (max-width: 1080px) {
  /* line 272, ../sass/moving.scss */
  #movingCon .block5 .row {
    width: 720px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 272, ../sass/moving.scss */
  #movingCon .block5 .row {
    width: 320px;
  }
}
/* line 285, ../sass/moving.scss */
#movingCon .block5 .row hr {
  border: none;
  width: 100%;
  height: 3px;
  background: url(../images/divider.png) top center no-repeat;
}
/* line 292, ../sass/moving.scss */
#movingCon .block5 .row .topText {
  font-size: 36px;
  font-family: helveticathin, arial;
}
@media only screen and (max-width: 1080px) {
  /* line 292, ../sass/moving.scss */
  #movingCon .block5 .row .topText {
    font-size: 26px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 292, ../sass/moving.scss */
  #movingCon .block5 .row .topText {
    font-size: 22px;
  }
}
/* line 304, ../sass/moving.scss */
#movingCon .block5 .row .botText {
  font-size: 22px;
  margin: 30px 0;
}
@media only screen and (max-width: 1080px) {
  /* line 304, ../sass/moving.scss */
  #movingCon .block5 .row .botText {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 304, ../sass/moving.scss */
  #movingCon .block5 .row .botText {
    font-size: 18px;
  }
}
